
{% extends 'base.html' %}
{% block title %} Cart | {{ block.super }} {% endblock %}
{% load static %}
{% load humanize %}

{% block content %}
{% include 'includes/header.html' %}
	<!-- Body Start -->
	<div class="wrapper _bg4586 _new89">		
		<div class="_215b15">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">						
						<div class="title125">						
							<div class="titleleft">					
								<div class="ttl121">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="/">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Cart</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
						<div class="title126">	
							<h2>Your Cart</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mb4d25">
			<div class="container">			
				<div class="row">
					<div class="col-lg-8">
						
						{% for item in items %}
							
						
							
						<div class="fcrse_1">
							<a href="course_detail_view.html" class="hf_img">
								<img class="cart_img" src="{{item.course.imageURL}}" alt="">
							</a>
							<div class="hs_content">
								<div class="eps_dots eps_dots10 more_dropdown">
									<a data-course="{{item.course.id}}" data-action="remove" class="update-cart" href="{% url 'cart' %}"><i class='uil uil-times'></i></a>																										
								</div>
								<a href="#" class="crse14s title900 pt-2">{{item.course.name}}</a>
								<a href="#" class="crse-cate">{{item.course.category}} | {{item.course.programming_language}}</a>
								<div class="auth1lnkprce">
									<p class="cr1fot">By <a href="#">{{item.course.instractor}}</a></p>
									<div class="prce142">BDT {{item.get_total|floatformat:2}}</div>
								</div>
							</div>
						</div>	
						{% endfor %}							
					</div>
					<div class="col-lg-4">
						<div class="membership_chk_bg rght1528">
								<div class="checkout_title">
									<h4>Total</h4>
									<img src="{% static 'images/line.svg' %}" alt="">
								</div>
								<div class="order_dt_section">
									<div class="order_title">
										<h4>Course</h4>
										<div class="quantity">
											
											{{order.get_cart_items}}</div>
                                            <input class="prompt srch_explore" type="text" placeholder="Enter Coupon Code">
										
									</div>
									
									<div class="order_title">
										<h2>Total Price</h2>

										<div class="order_price5">BDT {{order.get_cart_total}}</div>
										<h2>আপনাকে {{order.get_cart_total}} টাকা বিকাশে পেমেন্ট করতে হবে</h2>
									</div>
									<!-- <div class="coupon_code">
										<p>Learn now is applied.</p>
										<div class="coupon_input">
											<div class="ui search focus mt-15">
												<div class="ui left icon input swdh11 swdh19">
													<input class="prompt srch_explore" type="text" name="couponcode" value="" id="id_coupon_code" required="" maxlength="6" placeholder="Enter Coupon Code">
												</div>
												<button class="code-apply-btn" type="submit">Apply</button>
											</div>
										</div>
									</div> -->
									<a href="{% url 'checkout' %}" class="chck-btn22">Checkout Now</a>
								</div>
						</div>
					</div>								
				</div>				
			</div>
		</div>
		
	</div>
	<!-- Body End -->
	
{% endblock %}