
{% extends 'base.html' %}
{% block title %}  Profile | {{ block.super }} {%endblock %} 
{% load static %}
{% load humanize %}

{% block content %}
{% include 'includes/header.html' %}
{% include 'includes/sidebar.html' %}

<!-- Body Start -->
<div class="wrapper _bg4586">
    <div class="_216b01">
        <div class="container">			
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="section3125 rpt145">							
                        <div class="row">						
                            <div class="col-lg-7">
                                
                                <div class="dp_dt150">						
                                    <div class="img148">
                                        <img src="{{instractor.image.url}}" alt="">										
                                    </div>
                                    <div class="prfledt1">
                                        <h2>{{instractor.name}}</h2>
                                        <span>{{instractor.degination}}</span>
                                    </div>										
                                </div>
                                <!-- <ul class="_ttl120">
                                    <li>
                                        <div class="_ttl121">
                                            <div class="_ttl122">Enroll Students</div>
                                            <div class="_ttl123">612K</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="_ttl121">
                                            <div class="_ttl122">Courses</div>
                                            <div class="_ttl123">8</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="_ttl121">
                                            <div class="_ttl122">Reviews</div>
                                            <div class="_ttl123">115K</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="_ttl121">
                                            <div class="_ttl122">Subscribers</div>
                                            <div class="_ttl123">452K</div>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                            <!-- <div class="col-lg-5">
                                <a href="#" class="_216b12">										
                                    <span><i class="uil uil-windsock"></i></span>Report Profile
                                </a>
                                <div class="rgt-145">
                                    <ul class="tutor_social_links">
                                        <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                                <ul class="_bty149">
                                    <li><button class="subscribe-btn btn500">Subscribe</button></li>								
                                    <li><button class="msg125 btn500">Message</button></li>								
                                </ul>
                                
                            </div>													 -->
                        </div>							
                    </div>							
                </div>															
            </div>
        </div>
    </div>
    <div class="_215b15">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">						
                    <div class="course_tabs">
                        <nav>
                            <div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">About</a>
                              
                            </div>
                        </nav>						
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_215b17">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="course_tab_content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                                <div class="_htg451">
                                    <div class="_htg452">
                                        <h3>About Me</h3>
                                        <p>{{instractor.description|safe}}</p>
                                    </div>																	
                                </div>							
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!-- Body End -->
{% endblock %}