{% extends 'base.html' %} 
{% block title %} Login | {{ block.super }} {%endblock %} 
{% load static %} 
{% load humanize %} 
{% block content %}
{% include 'includes/header.html' %}
<!-- Signup Start -->
<div class="sign_in_up_bg">
  <div class="container">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-12">
        <div class="main_logo25" id="logo">
          <br>
          <a href="/"><img src="{% static 'images/elearn-logo .svg' %}" alt="" /></a>
          <a href="/"
            ><img
              class="logo-inverse"
              src="{% static 'images/ct_logo.svg' %}"
              alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-8">
        <div class="sign_form">
          <h2>Welcome Back</h2>
          <p>Log In to Your E-Learn Account!</p>
          <!-- <button class="social_lnk_btn color_btn_fb"><i class="uil uil-facebook-f"></i>Continue with Facebook</button>
						<button class="social_lnk_btn mt-15 color_btn_tw"><i class="uil uil-twitter"></i>Continue with Twitter</button>
						<button class="social_lnk_btn mt-15 color_btn_go"><i class="uil uil-google"></i>Continue with Google</button> -->

          {% if messages %} {% for msg in messages %}
          <p style="color: red">{{ msg }}</p>
          <br />
          {% endfor %} {% endif %}

          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="ui search focus mt-15">
              <div class="ui left input swdh95">
                <input
                  class="prompt srch_explore"
                  type="email"
                  name="email"
                  id="id_email"
                  required=""
                  maxlength="64"
                  placeholder="Email Address"
                />
                <i class="uil uil-envelope icon icon2"></i>
              </div>
            </div>
            <div class="ui search focus mt-15">
              <div class="ui left input swdh95">
                <input
                  class="prompt srch_explore"
                  type="password"
                  name="password"
                  value=""
                  id="id_password"
                  required=""
                  maxlength="64"
                  placeholder="Password"
                />
                <i class="uil uil-key-skeleton-alt icon icon2"></i>
              </div>
            </div>
            <div class="ui form mt-30 checkbox_sign">
              <div class="inline field">
                <div class="ui checkbox mncheck">
                  <input type="checkbox" tabindex="0" class="hidden" />
                  <label>Remember Me</label>
                </div>
              </div>
            </div>
            <button class="login-btn" type="submit">Sign In</button>
          </form>
          <p class="sgntrm145">
            Or <a href="{% url 'password_reset' %}">Forgot Password</a>.
          </p>
          <p class="mb-0 mt-30 hvsng145">
            Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
          </p>
        </div>
        <div class="sign_footer">
          <img src="{% static 'images/sign_logo.png' %}" alt="" />&copy;
          <span id="year"></span> <strong>Elearn Tunerpage</strong>. All Rights
          Reserved.
        </div>
        <script>
          document.getElementById("year").innerHTML = new Date().getFullYear();
        </script>
      </div>
    </div>
  </div>
</div>
<!-- Signup End -->

{% endblock %}
