
{% extends 'base.html' %}
{% block title %} Reset Password | {{ block.super }} {%endblock %} 
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load humanize %}
{% load embed_video_tags %}
{% block content %}
{% include 'includes/header.html' %}
{% include 'includes/sidebar.html' %}
	<!-- Signup Start -->
	<div class="container">
		<div class="row justify-content-lg-center justify-content-md-center">
			<div class="col-lg-12">
				<div class="main_logo25" id="logo">
                    <br>
					<a href="/"><img src="{% static 'images/elearn-logo .svg' %}" alt=""></a>
					<a href="/"><img class="logo-inverse" src="{% static 'images/elearn-logo .svg' %}" alt=""></a>
				</div>
			</div>
		
			<div class="col-lg-6 col-md-8">
				<div class="sign_form">
					<h2>Request a Password Reset</h2>
					<form method="POST">
						{% csrf_token %}
						{{ password_reset_form|crispy }}
						<br> <br>                  
						<button class="btn btn-primary" type="submit">Send email</button>
					</form>
					<p class="mb-0 mt-30">Go Back <a href="{% url 'login' %}">Sign In</a></p>
				</div>
				<div class="sign_footer">© <span id="year"></span>  <strong>Elearn Tunerpage</strong>. All Rights Reserved.</div>
                <script>
                    document.getElementById("year").innerHTML = new Date().getFullYear();
                </script>
			</div>				
		</div>				
	</div>				
	<!-- Signup End -->	

{% endblock %}