
{% extends 'base.html' %}
{% block title %} Privacy | {{ block.super }} {% endblock %}
{% load static %}
{% load humanize %}

{% block content %}
{% include 'includes/header.html' %}

	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586 _new89">		
		<div class="_215b15">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">						
						<div class="title125">						
							<div class="titleleft">					
								<div class="ttl121">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="/">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
										</ol>
									</nav>
								</div>
							</div>
							<div class="titleright">						
								<div class="explore_search">
									<div class="ui search focus">
										<div class="ui left icon input swdh11 swdh15">
											<input class="prompt srch_explore" type="text" placeholder="Search">
											<i class="uil uil-search-alt icon icon2"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="title126">	
							<h2>Terms of Use</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="faq1256">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-5">
						<div class="fcrse_3 frc123">
							<ul class="ttrm15">
								<li><a href="#" class="tt_item active">Terms of Use</a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-7">
						<div class="vew120 frc123">
							<div class="atlink">These Privacy and Policy <strong>("Privacy")</strong> were last updated on <b>May 1, 2021</b></div>
							<p>elearn.tunerpage.com is a sister concern of tunerpage.com. We are here to teach you how you will deal with the real job sector. We respect your privacy & we want you to understand how we will collect your data, how we will use your data &  how we will share your data.This privacy and policy will be used for every user on this website.

                                </p>
							
						</div>						
					
						<div class="vew120 mt-35 mb-30">			
							<h4>Account</h4>
							<p>Every user must need an account for most activities for using our platform.You have to keep your password because you’re responsible for all activity associated with your account. It's always important not to share passwords with anyone. If you suspect someone else is using your account, let us know by contacting our support team.
                                <br>
                                By using the services, you agree to the terms and conditions of this privacy Policy. You shouldn’t use the services if you don’t agree with this privacy policy or any other agreement that governs your use of the Services. 

                            </p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Reason Of Collecting Data</h4>
							<p>When you register on our website we will collect some sort of personal data like first name , last name , phone number , email , home address and your picture etc. We will use this information to communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes.</p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Who we share your data with</h4>
							<p>We will share your data with our instructors and company. But we won't spam you.</p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Cookies</h4>
							<p>Like any other website , elearn.tunerpage.com uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and other information
                            </p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Your Rights
                            </h4>
							<p>You have certain rights around the use of your data, including the ability to opt out of promotional emails, cookies, and collection of your data by certain third parties. You can update or terminate your account from within our Services, and can also contact us for individual rights requests about your personal data. Parents who believe we’ve unintentionally collected personal data about their underage child should contact us for help deleting that information.We encourage parents and guardians to observe, participate in, and monitor and guide their online activity.</p>
						</div>
                        <div class="vew120 mt-35 mb-30">			
							<h4>Security</h4>
							<p>We are using the best security to protect your data.We ensure that your data will  be safe because we really care about your privacy. </p>
						</div>
                        <div class="vew120 mt-35 mb-30">			
							<h4>Update privacy and Policy</h4>
							<p>The management of tunerpage.com  reserves the right to change this policy at any time based on its own needs.You will be notified before any change or update of our privacy policy.</p>
						</div>
                        <h1>We request you to re-read this privacy policy after every change.</h1>
						<br>
					</div>
				</div>
			</div>
		</div>
		
	
	</div>
	<!-- Body End -->

{% endblock %}