
{% extends 'base.html' %}
{% block title %} Terms & Conditions | {{ block.super }} {% endblock %}
{% load static %}
{% load humanize %}

{% block content %}
{% include 'includes/header.html' %}

	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586 _new89">		
		<div class="_215b15">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">						
						<div class="title125">						
							<div class="titleleft">					
								<div class="ttl121">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="/">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
										</ol>
									</nav>
								</div>
							</div>
							<div class="titleright">						
								<div class="explore_search">
									<div class="ui search focus">
										<div class="ui left icon input swdh11 swdh15">
											<input class="prompt srch_explore" type="text" placeholder="Search">
											<i class="uil uil-search-alt icon icon2"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="title126">	
							<h2>Terms of Use</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="faq1256">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-5">
						<div class="fcrse_3 frc123">
							<ul class="ttrm15">
								<li><a href="#" class="tt_item active">Terms of Use</a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-7">
						<div class="vew120 frc123">
							<div class="atlink">These Terms of Use <strong>("Terms")</strong> were last updated on <b>May 1, 2021</b>.</div>
							<p>The mission of ours is to help people in the right way and give everyone the best service. There are some terms of use we have and every user has to follow this.
                                </p>
							
						</div>						
					
						<div class="vew120 mt-35 mb-30">			
							<h4>Account</h4>
							<p>Every user must need an account for most activities for using our platform.You have to keep your password because you’re responsible for all activity associated with your account. It's always important not to share passwords with anyone. If you suspect someone else is using your account, let us know by contacting our support team.
                            </p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Course Enrolment</h4>
							<p>When you enroll in a course you will get a license key to view this course materials . Don't try to share your course with other users. If our automated system detects any activities like sharing accounts   then the management will take proper action.</p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Payment & Refund</h4>
							<p>When you make a payment, you agree to use a valid payment method to pay your course fee.If you don't like the course and want to get a refund then you must contact the support team within 7 days.</p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>Pricing</h4>
							<p>Price of  every course is based on a course curriculum. Every course will have different prices and different offers. Course price will be decided by the management team and they have the authority to change the course price anytime.But the price change will not affect you after you  enrolled on a course.</p>
						</div>
						<div class="vew120 mt-35 mb-30">			
							<h4>How to conatct us</h4>
							<p>The best way to contact us is to contact our support team. They will help you with all of your problems.</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	
	</div>
	<!-- Body End -->

{% endblock %}