{% load static %}
{% load tawkto_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=9" />
    <meta name="description" content="An Online Learning Platform" />
    <meta name="author" content="Online Course" />
    <title>{% block title %} Online Course {% endblock %}</title>


    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{% static 'images/fav.png' %}" />
    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
    <link href="{% static 'css/vertical-responsive-menu.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'css/vertical-responsive-menu1.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/instructor-dashboard.css' %}" rel="stylesheet">
		<link href="{% static 'css/instructor-responsive.css' %}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0TLY3T22NX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0TLY3T22NX');
    </script>
    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    </script>
    
  </head>

  <body>
   
  
    {% block content %}
    
    {% endblock content %}

    <script src="{% static 'js/vertical-responsive-menu.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/OwlCarousel/owl.carousel.js' %}"></script>
    <script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/night-mode.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
  </body>
</html>
